body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}


body {
  background-color: #1a1a1a;

  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-fondo {
  background-image: url('./assets/pattern-randomized.svg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  animation: fadeIn 2s ease-in-out;
  height: 100vh;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

h1 {
  margin-top: 0;
  padding-top: 2rem;
}

.logo-gif{
  width: 40%;
  height: auto;
  margin-top: 20px;
  animation: fadeIn 1s ease-in-out;
}


