# Node.js / React
node_modules/
build/
dist/
.env

# Editor y sistema
.DS_Store
.vscode/
*.log

# Archivos multimedia pesados
*.mp4
*.mov
*.webm
*.gif
*.wav
*.aiff

# Archivos temporales o de prueba
*.tmp
*.bak

# Sistema operativo
Thumbs.db
Desktop.ini

# Otros posibles directorios que no quieras subir
lowfator-frontend/public/assets/

