

.contact-wrapper {
    padding: 2rem;
    color: rgb(188, 186, 150);
    backdrop-filter: blur(2px);
    margin-left: 10px;
  }
  
  .contact-form {
    max-width: 400px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  img{
    height: 40px;
    width: 80px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgb(237, 239, 223);
  }
  
  .contact-form button {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #282c34;
    color: rgb(241, 234, 234);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #b2b5a5;
  }
  
  .back-home {
    display: inline-block;
    margin-top: 2rem;
    color: rgb(212, 165, 165);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: opacity 0.2s ease;
  }
  
  .back-home:hover {
    opacity: 0.6;
  }

  h2{
    margin-top: 40px;
  }
  

  