.intro-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
  }
  
  .video-fullscreen {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  