.intro-video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 9999;
}

.intro-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 10;

  /* Escalado para ocultar bordes */
  transform: scale(1.05);
}

.intro-video.fade-out {
  opacity: 0;
}
