.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding-right: 20px;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    backdrop-filter: blur(3px);
    box-shadow: 0 1px 24px rgba(0, 0, 0, 0.3);
  }

  nav{
    display: flex;
    gap: 20px;
  }

  #contact_link{
    height: 44px;
  }

  #about_link{
    margin-top: 3.8px;
    height: 36px;
    width: 39px;
  }

  .nav-link img{
    height: 28px;
    width: auto;
    display: block;
    padding: 3px;
  }
  
  .nav-link:hover img{
    opacity: 0.6;
    transition: opacity 0.2s ease;
  }
  
  .navbar img {
    height: 40px;
    margin-right: 9px;
    width: 47px;
    
  }
  
  
  